.hero-section {
  height: 90vh;
  background: linear-gradient(to right, #007bff, #6610f2);
  padding: 3rem;
  color: white;
  transition: all 0.4s ease;
}

.hero-btn {
  transition: transform 0.3s ease-in-out;
}

.hero-btn:hover {
  transform: scale(1.05);
}

.category-card {
  transition: transform 0.3s, box-shadow 0.3s;
  border: none;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

body {
  background-color: #f8f9fa;
}
